.login{
	margin:;
	background-color: r;
	position: absolute;
	top: 20%;
	left: 50%;
	width: 400px;
	 margin: -25px 0 0 -180px;

}
.container-fluid {
	background-color: black;
}
body{
	background-color: ;
}
.login{
	height: 100px;
}