#mainpage{
  margin-top: 100px; margin-left: 1px;
}

/*maqla crasousel start*/

#last_news{
  border: solid cadetblue; direction: rtl;
  border-radius: px;
  padding: 15px 10px 10px;
  border-right: none;
  border-left: none;
   
}
#head{
  position:absolute;
  margin-top:-20px;
  margin-left:75%;
  color:white;
  text-align: right;
  background:black;
  padding-top: 15px;
  border-radius:10px;
  direction: rtl;
  padding:2px 10px;
}


  @media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}
  @media only screen and (max-width: 1111px) {
  #nav{
    display: none;
  }